<div class="btn-group" role="group" aria-label="Basic example"> 
  <button type="button" class=" btn btn-light my text">
    <i class="my-icon fas fa-angle-double-left"></i>
  </button>
  <button type="button" class=" btn btn-light my text">
    <i class="my-icon fas fa-angle-left"></i>
  </button>


  <button type="button" class=" btn btn-light my-text">1</button>
  <button type="button" class=" btn btn-light my-text">2</button>
  <button type="button" class=" btn btn-light my-text">3</button>
  <button type="button" class=" btn btn-light my-text">4</button>
  <button type="button" class=" btn btn-light my-text">5</button>
  <button type="button" class=" btn btn-light my-text">6</button>


  <button type="button" class=" btn btn-light my-text">
    <i class="my-icon fas fa-angle-right"></i>
  </button>
  <button type="button" class=" btn btn-light my-text">
    <i class="my-icon fas fa-angle-double-right"></i>
  </button>
</div>
